.sidebar {
visibility: hidden;
}

.sidebar.open {
visibility: visible;
}

.background {
}

.nav {
}

.nav a {
    margin-right: 5px;
}

.nav a:hover {
}

.nav a.active {
color: red;

}
.close {
}

.close img {
}
