.button {

}

.disabled {
}

.secondary {
    background-color: green;
}

.default {
    background-color: black
;
}

.red {
    background-color: red;
    color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
